@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
body {
  background: white;
  font-family: "Montserrat Alternates", sans-serif;
}
.wrapper {
  min-width: 1100px;
  max-width: 1440px;
  width: 100%;
}
img[alt="logo"] {
  width: 55px;
  height: 49px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 10%;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}
header div > h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}

.settings-button {
  border: none;
  background: none;
}
.settings-button:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.web-applications {
  background: url(img/imgonline-com-ua-Resize-cvFRLopJx9UAV1j.jpg);
  background-size: cover;
}
.everyday-practice {
  user-select: none;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 210px;
}
.everyday-practice h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.everyday-practice h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
}
select[name="select-special-offer"] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  background: none;
  width: 30%;
  height: auto;
}
.info-about-company {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 5%;
}
img[alt="desktop"] {
  width: 100%;
}
.about-company {
  display: grid;
  grid-template-columns: 80% 20%;
  background: #dad6d6;
}
.about-company-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 65%;
  padding-top: 25%;
  padding-left: 5%;
  font-weight: 500;
  text-align: right;
}
.about-company-container h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}
.about-company-container p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.scroll-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-items-container {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.eren-yeager {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.portfolio > h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  padding-bottom: 5%;
}
.portfolio-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 60%;
  margin-left: 11%;
}
.portfolio-img-container button {
  position: absolute;
  width: auto;
  z-index: 9999;
  background: none;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 14px 30px;
}
img[alt="example-of-website"] {
  position: relative;
  width: 100%;
}
